.cake
.DS_Store
.lein-deps-sum
.lein-failures
.nrepl-port
*jar
/.calva/output-window/
/.clj-kondo/.cache
/.lsp/.cache
/.portal/vs-code.edn
/site/uberdoc.html
classes
lib
out
pom.xml
target
webgen.cache
